body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  max-width: 750px;
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  max-width: 100%;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 3%;
}

.deck .card {
  width: 48px;
  height: 48px;
  margin: 2%;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  transform: rotateY(180deg);
  transition: 0.4s;
}

@media only screen and (min-width: 315px) {
  .deck .card {
    width: 62px;
    height: 62px;
  }
}

@media only screen and (min-width: 380px) {
  .deck .card {
    width: 74px;
    height: 74px;
  }
}

@media only screen and (min-width: 460px) {
  .deck .card {
    width: 86px;
    height: 86px;
  }
}

@media only screen and (min-width: 560px) {
  .deck .card {
    width: 110px;
    height: 110px;
  }
}

@media only screen and (min-width: 680px) {
  .deck .card {
    width: 122px;
    height: 122px;
  }
}

.deck .card.open {
  transform: rotateY(0deg);
  transition: 0.4s;
  background: #02b3e4;
  cursor: default;
  font-size: 33px;
}

.deck .card.no-match {
  transition: 0.4s;
  background: red;
}

.deck .card.match {
  animation: match 0.4s ease-in-out forwards;
  transition: 0.4s;
  background: #02ccba;
}

@keyframes match {
  0% {
    transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin-bottom: 10px;
}

.moves {
  min-width: 62px;
}

.timer {
  min-width: 62px;
}

.score-panel .stars {
  min-width: 62px;
  margin: 0;
  padding: 0;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  cursor: pointer;
}

.hidden {
  font-size: 0;
  transition: 0.4s;
}
